@use "mixins";

:root {
  --text-color: rgb(206, 206, 206);
  --white-text-color: rgb(243, 243, 243);
  --background-color: rgb(25, 25, 25);
  --background-color-two: rgb(32, 32, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background-color);
  &::-webkit-scrollbar {
    display: none;
  }
}
.header {
  background-color: var(--background-color);
  // border-bottom: 1px solid rgb(82, 82, 82);
  nav {
    padding: 1.2rem 0;
    max-width: 120rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .logo a {
      text-decoration: none;
      font-size: 2.7rem;
      color: var(--text-color);
    }
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 4rem;
      li a {
        color: var(--text-color);
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--text-color);
      }
    }
  }
}

.aboutus__container {
  max-width: 120rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  h1 {
    font-weight: 500;
    font-size: 1.65em;
    text-transform: uppercase;
  }
  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}
.banner {
  max-width: 120rem;
  width: 90%;
  margin: 0rem auto 4rem;
  img {
    width: 100%;
  }
}
/* shimmer section */
.shimmer__section {
  @include mixins.shimmer__section;
  .shimmer__card {
    @include mixins.shimmer__card;
  }
}

.segment__head {
  max-width: 120rem;
  width: 90%;
  margin: 2rem auto 1rem;
  font-size: 1.75rem;
  color: var(--text-color);
  font-weight: 500;
}
.car__segments {
  max-width: 120rem;
  width: 90%;
  margin: 1rem auto 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.2rem;
  a {
    background-color: var(--background-color-two);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    .segment {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      .segment__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
      }
      .segment__text {
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}

/* selected segment */
.selected__segment {
  max-width: 120rem;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  .selected__segment__head {
    font-size: 1.78rem;
    font-weight: 500;
  }
  .selected__segment__cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, 28rem);
    gap: 1.2rem;
    a {
      text-decoration: none;
      color: rgb(19, 52, 67);
    }
  }
  .shimmer__section {
    @include mixins.shimmer__section;
    .shimmer__card {
      @include mixins.shimmer__card;
    }
  }
}
.car__card {
  background-color: rgb(234, 234, 234);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  .card__top {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    .car__name {
      font-size: 1.8rem;
      font-weight: 500;
    }
    .card__top-bottom {
      display: flex;
      justify-content: space-between;
      font-size: 1.25rem;
    }
  }
  .card__bottom {
    align-self: flex-end;
    .car__price {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

/* error container */
.error__container {
  margin: 2rem;
  span {
    font-size: 1.8rem;
  }
}
